@media(min-width: 768px){
    .form-input{
        width: 50%;
    }
}

/* Class Selectors */

.nav-link{
    font-family: 'Ovo', serif;
    color: white !important;
}

.nav-link:hover{
    color: red !important;
}

.navbar-brand{
    font-family: 'Noto Serif Display', serif;
    font-size: 30px;
}

.lead{
    color: black;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

.lead-club{
    color: white;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

.club-coding{
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}
.club-photography{
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}

.quality{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-size: 55px;
    font-weight: bold;
}

.mb-4{
    font-family: 'Ovo', serif;
    font-weight: 600;
}

.btn{
    font-family: 'Noto Serif Display', serif;
    padding: 15px 80px;
    margin-bottom: 30px;
}

.socials{
    padding: 13px;
    cursor: pointer;
}


/* ID Selectors */

/* #home-container{
    background-color: rgb(118, 118, 185);
} */

#form-id{
    background-color: #B6D0E2 !important;
}

#submit-id{
    background-color: #B6D0E2 !important;
}

#footer-lead{
    color: white;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

#contact-container{
    background: black;
   border-radius: 10px;
    
}

#contact-list{
    border-radius: 10px;
}

