@media(min-width: 768px){
    .form-input{
        width: 50%;
    }
}

*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    
}

.form-control, textarea{
    max-width: 400px;
    background: #111;
    height: auto;
    color: #fff;
    letter-spacing: 1px;
}

hr{
    border-color: #205375;
}

/* Class Selectors */

:root {
	--white: #ffffff;
	--black: #000000;
	--blue:#0288d1;
	--gray:#ebebeb;
	--box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
body{
	font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #637280;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
:focus{
    outline: 0px solid transparent !important;
}
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--blue);
}
.timeline p, .timeline time {
    color: var(--blue)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--blue);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed var(--blue);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}
.nav-link{
    font-family: 'Ovo', serif;
    color: white !important;
}


.nav-link:hover{
    color: red !important;
}

.navbar-brand{
    font-family: 'Noto Serif Display', serif;
    font-size: 30px;
    font-weight: bolder;
}

.btn:hover {
    color: aquamarine;
}

.lead{
    color: black;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

.lead-club{
    color: white;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}



.club-coding{
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}
.club-photography{
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}

.quality{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-size: 55px;
    font-weight: bold;
}

.mb-4{
    font-family: 'Ovo', serif;
    font-weight: 600;
}

.btn{
    font-family: 'Noto Serif Display', serif;
    padding: 15px 80px;
    margin-bottom: 30px;
}

.socials{
    padding: 13px;
    cursor: pointer;
}

.photography-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-container {
    background-color: #c5dee2 !important;
    border-radius: 70px;
    margin: 30px;
}

.footer-about {
    color: yellow;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

.section-header{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Ovo', serif;
}

.contact-wrapper{
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
}

.form-horizontal{
    float: left;
    max-width: 400px;
    font-weight: 400;
    font-family: 'IBM Plex Serif', serif;
}

.form-group{
    margin-left: -15px;
    margin-right: -15px;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    margin-bottom: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .form-control:focus{
    background: #111;
} */

.send-button{
    margin-top: 15px;
    height: 50px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.button{
    width: 300px;
    height: 34px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.button:hover{
    transform: translate(0px, -29px, 0px) !important;
}

.send-text{
    display: block;
    margin-top: 10px;
    font-weight: 300px;
    font-size: 14px;
    letter-spacing: 2px;
}

.contact-info{
    max-width: 400px;
    float: right;
    margin-top: 5px;
}

.contact-list{
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item{
    line-height: 4;

}

.contact-text{
    color: #000000;
    font-size: 18px;
    font-weight: 300px;
    letter-spacing: 1.9px;
}

.contact-text a{
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
}

.contact-text a:hover{
    color: red;
    text-decoration: none;
}

.place{
    margin-left: 40px;
}

.phone{
    margin-left: 34px;
}

.email{
    margin-left: 34px;
}

.social-icons{
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;

}

.social-icons li{
    position: relative;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    line-height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-icons li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    opacity: 0;
    box-shadow: 0 0 0 1px black;
    transition: all .2s ease-in-out;
}

.social-icons li:hover:after{
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-icons li a{
    color:#205375;
}

/* ID Selectors */

/* #home-container{
    overflow-x: hidden;
} */

#form-id{
    background-color: #6e93af !important;
}

#submit:hover{
    color: aquamarine;
}
#footer-lead{
    color: white;
    font-weight: 500px;
    font-family: 'IBM Plex Serif', serif;
}

#contact-container{
    background: black;
   border-radius: 10px;
    
}

#contact-list{
    border-radius: 10px;
}


#nav-link-photography{
    font-family: 'Ovo', serif;
    color: black !important;
    font-weight: bolder;
}

#nav-link-photography:hover{
    color: red !important;
}
#questions{
    background-color: rgb(199, 215, 215);
}

#contact{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 200px;
}

#massage-contact{
    position: relative;
    margin-right: 70px;
}
